body { 
	margin:0; padding: 20px 20px 100px; background: #f9f9f9;
	font: 100% helvetica, arial, sans-serif;
	line-height: 1.6;
}

h1 { font-size: 1.5em; margin: 0; }
h2 { font-size: 1.3em; margin: 10px 0; }
ul { font-size: .9em; line-height: 1.5; margin: 0; }
pre { 
	padding: 10px 40px; 
	margin: 10px -20px; 
	border: 1px dashed #aaa; 
	border-width: 1px 0; 
	background: #f0f0f0; 
	font-weight: bold;
}
pre  .keyword { color: blue; }
pre  .string { color: green; }
pre  .comment { color: gray; }
