.tooltip { position: absolute; z-index: 999; min-width: 40px; white-space: nowrap; cursor: default; left: -1000; top: -1000; 
	padding: 5px 10px; font: bold 12px helvetica, tahoma, sans-serif; text-align: center; background: #333; color: #fff; 
	background: -webkit-linear-gradient(top,rgba(30,30,30,.9),rgba(0,0,0,0.9));
	background: -moz-linear-gradient(top,rgba(30,30,30,.9),rgba(0,0,0,0.9));
	background: linear-gradient(top,rgba(30,30,30,.9),rgba(0,0,0,0.9));
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	-moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.tooltip:before { content: ''; display: block; position: absolute; width: 0; height: 0; border: 7px solid transparent; }

/* tooltip above target, tip arrow down */
.tooltip-t:before	{ border-top-color: rgba(0,0,0,.9); border-bottom-width: 0; bottom: -7px; margin-left: -7px; left: 50%; }
.tooltip-tr:before	{ left: 7px; margin: 0; }
.tooltip-tl:before	{ left: auto; margin: 0; right: 7px; }

/* tooltip below target, tip arrow up */
.tooltip-b:before	{ border-bottom-color: rgba(34,34,34,.9); border-top-width: 0; top: -7px; margin-left: -7px; left: 50%; }
.tooltip-br:before	{ left: 7px; margin: 0; }
.tooltip-bl:before	{ left: auto; margin: 0; right: 7px; }

/* tooltip to the right of the target, tip arrow left */
.tooltip-r:before	{ border-right-color: rgba(20,20,20,.9); border-left-width: 0; left: -7px; margin-top: -7px; top: 50%; }
.tooltip-rt:before	{ border-right-color: rgba(31,31,31,.9); margin: 0; top: 7px; }
.tooltip-rb:before	{ border-right-color: rgba(10,10,10,.9); margin: 0; top: auto; bottom: 7px; }

/* tooltip to the left of the target, tip arrow right */
.tooltip-l:before	{ border-left-color: rgba(20,20,20,.9); border-right-width: 0; right: -7px; margin-top: -7px; top: 50%; }
.tooltip-lt:before	{ border-left-color: rgba(31,31,31,.9); margin: 0; top: 7px; }
.tooltip-lb:before	{ border-left-color: rgba(10,10,10,.9); margin: 0; top: auto; bottom: 7px; }
